.nav-section, .one-section{
    display: flex;
    xflex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	height: 50px;
}
.form-control.notValid{
	border:1px solid red;
}
#root{
	background: #ccc;
}
.nav-active{
	color: red;
}